#banner
  .banner_content
    %h1 File Cabinet
    %p Your lifes work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p I'm baby crucifix hashtag post-ironic sustainable chicharrones iceland
        hexagon chillwave narwhal tacos deep v copper mug letterpress 90's next level.
        Sriracha man bun lo-fi swag drinking vinegar, mustache pitchfork master cleanse kitsch.
        Cornhole humblebrag locavore deep v, hoodie small batch air plant la croix wayfarers
        franzen adaptogen. Post-ironic chia gluten-free bespoke fashion axe actually.
        Kogi post-ironic forage single-origin coffee.
#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
